@font-face {
  font-family: 'LilyScriptOne-Regular';
  src: url('http://awangimage.b0.upaiyun.com/website/LilyScriptOne-Regular.ttf')
}


html {
  font-family: "Microsoft YaHei", sans-serif;
  font-size: 20px;
}

.specialFont {
  font-family: 'LilyScriptOne-Regular', Arial;
}

.customLink {
  color: inherit;
  text-decoration: none;
}

.customLink:hover {
  color: inherit;
  text-decoration: underline;
}


/* header */
.header {
  display: flex;
  background-color: #000000;
  & a {
    color: #FFFFFF;
  }
  & a:hover {
    color: #FFFFFF;
  }
}

#headTitle {
  font-family: 'LilyScriptOne-Regular', fantasy;
  font-size: 5rem;
  font-weight: bold; 
  width: fit-content;
  margin-left: 5%;
}

/* footer*/
.footer {
  background-color: white;
  & a {
    color: #FF9800;
  };
}

.tksListItem {
  align-self: flex-end;
  padding: 10px 20px;
}

/* 正文 */
.main {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 20px;
  line-height: 1.5rem;
  font-size: 1.25rem;
  & img {
    width: 100%;
  };
}

.buttonZone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;;
  margin-bottom: 10px;
}

.pageNav {
  align-self: center;

  & span {
    margin: 5px;
    cursor: pointer;
    text-decoration: underline;
  }
}

/* side bar */

.sideBar {
  font-size: 1.25rem;
  padding-right: 30px;
  padding-top: 20px
}

#categories {
  width: 100%;
}

#categories tr td:nth-child(2) {
  text-align: right;
}

#tags {
  direction: rtl;
  & a {
    margin: 5px;
  }
}

#toc {
 direction: rtl;
 font-size: 1rem;
 line-height: 1.45rem;
}

#toc li {
  margin-bottom: 0.8rem;
}

#webSiteArticleNav {
  direction: rtl;
  line-height: 1.45rem;
  font-size: 1rem;
}

/* first screen */

#webSiteTitle {
  font-family: 'LilyScriptOne-Regular', fantasy;
  font-size: 8.5rem;
  width: fit-content;
  margin: auto;
}

.subScreen {
  color: white;
  font-size: 1.75rem;
  line-height: 2.45rem;
}

.firstScreen {
  height: 607.78px;
}

.stars, .twinkling {
  height: 615.78px;
}

.stars {
  background: #000 url(http://awangimage.b0.upaiyun.com/website/stars_custom1.png) repeat top center;
  z-index: 0;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: block;
}

.twinkling{
  background:transparent url(http://awangimage.b0.upaiyun.com/website/twinkling.png) repeat top center;
  z-index:1;
  animation:move-twink-back 200s linear infinite;
}

/* General Layout */
.outerFrame {
  width: 80%;
  margin: auto;
  margin-bottom: 0;
}

.container {
  flex: 1;
  display: flex;
}

.leftSide {
  flex: 2;

}

.rightSide {
  flex: 6;
  border-left: 20px;
  border-left-style: solid;
  padding-left: 20px;
}

.divideLineBlackColor {
  border-left-color: black;
}

.divideLineGreyColor {
  border-left-color: grey;
}

.divideLineWhiteColor {
  border-left-color: white;
}

/* 三段式的 Layout */
.upperBlock, .bottomBlock {
  height: 8rem;
}

.middleBlock {
  width: 50%;
}

.middleBlockElement {
  width: fit-content;
  margin: 40px auto; 
  display: block;
}

/* roteVocab page Layout*/
#showBoardWrapperA {
  background-color: #64B5F6;
  color: white;
}

#showBoardWrapperB {
  background-color: #E57373;
  color: white;
}



