@font-face {
  font-family: 'LilyScriptOne-Regular';
  src: url('http://awangimage.b0.upaiyun.com/website/LilyScriptOne-Regular.ttf')
}

html {
  font-family: Helvetica, Tahoma, Arial, SimSun, "宋体", Heiti, "黑体", sans-serif;
  font-size: 20px;
  line-height: 1.4rem;
}

pre {
  width: 1px;
}

.specialFont {
  font-family: 'LilyScriptOne-Regular', Arial;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}

/* header */
#header {
  display: flex;
  background-color: #000000;
}

#header a {
  color: #FFFFFF;
}

#header a:hover {
  color: #FFFFFF;
}

#headTitle {
  font-family: 'LilyScriptOne-Regular', fantasy;
  font-size: 5rem;
  font-weight: bold;
  line-height: 7rem; 
  width: fit-content;
  margin-left: 5%;
}

.headerSubTitle {
  font-size: 1.5rem;
  line-height: 2.1rem; 
  padding-top: 15px; 
  padding-bottom: 15px;
}

/* footer*/
#footer {
  background-color: white;
}

#footer a {
  color: #FF9800;
}

#footerLeftSide {
  display: flex;
  flex-direction: column; 
}

#footerLeftSideWord {
  align-self: flex-end;
  padding: 20px 20px 15px 0;
  direction: rtl;
  font-size: 1.5rem;
  line-height: 2.1rem;
}

.tksListItem {
  align-self: flex-end;
  padding: 10px 20px;
}

/* 正文 */
.main {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 20px;
  line-height: 1.75rem;
  font-size: 1.25rem;
}

.main img {
  max-width: 100%;
}

.main #content a {
  text-decoration: underline;
}

#buttonZone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;;
  margin-bottom: 10px;
}

#buttonZone button {
  font-size: 1rem;
}

h1 {
  font-size: 2em;
  line-height: 1.5em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.3em;
}

h3 {
  font-size: 1.17em;
  line-height: 1.29em;
}

h4 {
  font-size: 1.0em;
  line-height: 1.1em;
}

h1, h2, h3, h4, h5, h6, .sideBar, .subScreen, .headerSubTitle {
  font-family: Arial, "Microsoft YaHei", "微软雅黑", Heiti, "黑体", serif;
  font-weight: bold;
}

.pageNav {
  align-self: center;
  margin: 1.5rem 0;
}

.pageNav span {
  margin: 5px;
  cursor: pointer;
}

.pageNav span:hover {
  text-decoration: underline;
}

/* side bar */
.sideBar {
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding-right: 30px;
  padding-top: 20px
}

#categories {
  width: 100%;
}

#categories tr td:nth-child(2) {
  text-align: right;
}

#tags {
  display: flex;
  flex-wrap: wrap;
  direction: rtl;
}

#tags a {
  margin: 0 5px;
}

#toc {
 direction: rtl;
 font-size: 1rem;
 line-height: 1.4rem;
}

#toc li {
  margin-bottom: 0.8rem;
}

#webSiteArticleNav {
  direction: rtl;
  line-height: 1.4rem;
  font-size: 1rem;
}

/* first screen */

#webSiteTitle {
  font-family: 'LilyScriptOne-Regular', fantasy;
  font-size: 8.5rem;
  line-height: 11.9rem;
  width: fit-content;
  margin: auto;
}

.subScreen {
  color: white;
  font-size: 1.75rem;
  line-height: 2.45rem;
}

#firstScreen {
  height: 607.78px;
}

.stars, .twinkling {
  height: 615.78px;
}

.stars {
  background: #000 url(http://awangimage.b0.upaiyun.com/website/stars_custom1.png) repeat top center;
  z-index: 0;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: block;
}

.twinkling{
  background:transparent url(http://awangimage.b0.upaiyun.com/website/twinkling.png) repeat top center;
  z-index:1;
  animation:move-twink-back 200s linear infinite;
}

/* General Layout */
.outerFrame {
  width: 80%;
  margin: auto;
  margin-bottom: 0;
}

.container {
  flex: 1;
  display: flex;
}

.leftSide {
  flex: 2;
}

.rightSide {
  flex: 6;
  border-left: 20px;
  border-left-style: solid;
  padding-left: 20px;
}

.divideLineBlackColor {
  border-left-color: black;
}

.divideLineGreyColor {
  border-left-color: #BDBDBD;
}

.divideLineWhiteColor {
  border-left-color: white;
}

/* 三段式的 Layout */
.upperBlock, .bottomBlock {
  height: 8rem;
}

.middleBlock {
  margin: 40px 0;
}

.middleBlockLeft {
  flex: 4;
  display: flex;
  justify-content: center;
  align-self: center;
  height: fit-content;
}

.middleBlockRight {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* roteVocab page Layout*/
#showBoardWrapperA {
  background-color: #2196F3;
  color: white;
}

#showBoardWrapperB {
  background-color: #E57373;
  color: white;
}

#showBoardLeftSideOne {
  display: flex;
  justify-content: center;
  writing-mode: vertical-rl;
}

#showBoardLeftSideTwo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#showBoardLeftSideTwo h2 {
  margin-right: 20px;
}

#showBoardLeftSideTwo a {
  display: block;
  margin: 20px;
}

#showBoardLeftSideTwo p {
  margin-right: 20px; 
  direction: rtl;
}

#showBoardLeftSideThree {
  display: flex; 
  justify-content: center; 
  writing-mode: vertical-rl;
}

/* screen width query*/

@media screen and (max-width: 1610px) {
  .outerFrame {
    width: 100%;
  }
}

@media screen and (max-width: 1300px) {
  html {
    font-size: 18px;
  }
}


@media screen and (max-width: 1170px) {
  #webSiteTitle {
    font-size: 7rem;
    line-height: 9.8rem;
  }

  .subScreen {
    font-size: 1.5rem;
    line-height: 2.1rem;
  }

  #firstScreen {
    height: 457.78px;
  }

  .stars, .twinkling {
    height: 465.78px;
  }
}

@media screen and (max-width: 966px) {
  #webSiteTitle {
    margin-left: 100px;
  }
}

@media screen and (max-width: 735px) {
  #headTitle {
    font-size: 4rem;
    line-height: 5.6rem;
  }
  
  .headerSubTitle {
    font-size: 1.3rem;
    line-height: 1.82rem;
  }
}

@media screen and (max-width: 675px) {
  
  /* general layout */
  .container {
    margin-left: 50px;
  }

  /** container **/
  #firstScreen .container, #header .container, #md .container,
  #roteVocabPage .container, #othersPage .container {
    flex-direction: column;
  }

  #footer .container, #blogPage .container {
    flex-direction: column-reverse;
  }

  /** left side **/
  #footer .leftSide, #blogPage .leftSide, #othersPage .leftSide,
  #md .leftSide, #roteVocabPage .leftSide {
    border-left: 20px;
    border-left-style: solid;
    padding-left: 20px;
  }

  #footer .leftSide, #blogPage .leftSide, #othersPage .leftSide {
    border-left-color: black;
  }

  #md .leftSide, #roteVocabPage .leftSide {
    border-left-color: #BDBDBD;
  }

  /** 三段式 **/
  .middleBlockLeft {
    align-self: flex-start;
  }
  
  /* first screen */
  #webSiteTitle {
    margin-left: 10px;
  }

  #firstScreen {
    height: 647.78px;
  }

  .stars, .twinkling {
    height: 655.78px;
  }
  
  /* header */
  #headTitle {
    margin-left: 0;
  }

  /* footer */
  #footerLeftSideWord {
    align-self: flex-start;
    direction: ltr;
  }

  .tksListItem {
    align-self: flex-start;
    padding: 10px 0;
  }
  
  /* sidebar */
  #webSiteArticleNav, #toc, #tags {
    direction: ltr;
  }

  /* roteVocabPage */
  #showBoardLeftSideOne, #showBoardLeftSideThree {
    writing-mode: horizontal-tb;
    justify-content: flex-start;
  }

  #showBoardLeftSideTwo {
    align-items: flex-start;
  }
}