.header {
  background-color: #FFF176;
  margin-bottom: 20px;
}

.websiteTitle {
  flex: 1;
  padding-top: 13px;
}

.websiteNav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  & span {
    margin: 5px;
  }
}

.footer {
  background-color: #FFF176;
  margin-top: 20px;
}

.container {
  max-width: 960px;
  margin: auto;
}

@media all and (min-width: 700px) {
  .main {
    flex: 3
  }

  .sideBar {
    flex: 1;
    padding-left: 40px;
  }
}


@media all and (max-width: 699px) {
  .blog {
    flex-direction: column;
    margin: 0px 10px;
  }
}

.blog {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
}

.sideBar {
  & a {
    margin:5px
  }
}

.buttonZone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;;
  margin-bottom: 10px;
}

.pageNav {
  align-self: center;

  & span {
    margin: 5px;
    cursor: pointer;
    text-decoration: underline;
  }
}



.mdArticleNav {
  & span {
    margin: 5px
  }
}

.frontDoor {
  background: url(http://awangimage.b0.upaiyun.com/website/newBgImage.jpg) black;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (min-width: 956px) {
  .frontDoor {
    height: 576px;
  }

  .name {
   font-size: 120px;
  }

  .loader {
    width: 60px;
    height: 60px;
    border-width: 12px;
    border-top-width: 12px;
  }

  .project {
    font-size: 30px;
  }
}

@media all and (max-width: 955px) and (min-width: 722px) {
  .frontDoor {
    height: 476px;
  }

  .name {
   font-size: 90px;
  }

  .loader {
    width: 45px;
    height: 45px;
    border-width: 9px;
    border-top-width: 9px;
  }

  .project {
    font-size: 25px;
  }
}

@media all and (max-width: 721px) and (min-width: 487px) {
  .frontDoor {
    height: 376px;
  }

  .name {
   font-size: 60px;
  }

  .loader {
    width: 30px;
    height: 30px;
    border-width: 6px;
    border-top-width: 6px;
  }

  .project {
    font-size: 20px;
  }
}

@media all and (max-width: 486px) {
  .frontDoor {
    height: 276px;
  }

  .name {
   font-size: 30px;
   line-height: 30px;
  }

  .loader {
    width: 15px;
    height: 15px;
    border-width: 3px;
    border-top-width: 3px;
  }

  .project {
    font-size: 20px;
  }
}


.project {
  display: flex;
  max-width: 960px;
  margin: 50px auto;
  justify-content: space-around;
  //font-size: 20px;
  //line-height: 20px;
}

.loader {
    border-radius: 50%;
    animation: spin 1s linear infinite;
    display: inline-block;
    border-style: solid;
    border-color: #f3f3f3; /* Light grey */
    border-top-style: solid;
    border-top-color: #3498db; /* Blue */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.showBoard {
  padding-bottom: 60px;
  padding-top: 60px;
  max-width: 960px;
  margin: auto;
  display: flex;
  min-height: 450px;
}

.columnDirection {
  flex-direction: column;
}

.customLink {
  color: inherit;
  text-decoration: none;
}

.customLink:hover {
  color: inherit;
  text-decoration: underline;
}
